@model Hff.CvApp.DTOs.Concrete.AppUserDtos.AppUserListDto
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    
}
<div class="container-fluid p-0">
    <!-- About-->
    <section class="resume-section" id="about">
        <div class="resume-section-content">
            <h1 class="mb-0">
                @Model.FirstName
                <span class="text-primary">@Model.LastName</span>
            </h1>
            <div class="subheading mb-5">
                @Model.Adress · @Model.PhoneNumber ·
                <a href="mailto:@Model.Email" >@Model.Email</a>
            </div>
            <p class="lead mb-5">@Model.ShortDescription</p>
            @await Component.InvokeAsync("SocialMediaComponent")
        </div>
    </section>
