@model AppUserPasswordDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-warning">
    <p>
    <strong>UYARI</strong>Şifreniz değiştirildikten sonra otomatik olarak çıkış yaptırılacak.
        </p>
</div>
<form asp-action="ChangePassword"  method="post">
    <input type="hidden" asp-for="@Model.Id" />
    <div class="form-group">
        <label>Parolanız:</label>
        <span asp-validation-for="@Model.Password" class="text-danger"></span>
        <input type="password" asp-for="@Model.Password" class="form-control" />
    </div>
    <div class="form-group">
        <label>Parolanız (tekrar):</label>
        <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
        <input type="password" asp-for="@Model.ConfirmPassword" class="form-control" />
    </div>
    <div class="form-group">
        <button class="btn btn-danger">Şifre Değiştir</button>
    </div>
</form>